# Environments
.env
venv/
bitnet_env/
__pycache__/
*.pyc

# Large Models & Binaries
*.gguf
*.bin
*.onnx
build/
bin/

.env
BitNet/
whisper.cpp/
voices/

# Logs & Debug
*.log
firebase-debug.log
debug_screenshots/
